#servicesDiv{
    display: flex;
    margin: auto;
    align-items: center;
    padding: 5%;
    gap: 5%;
    width: 80%;
    /* border: 1px solid red; */
}
#final {
    margin: auto;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    
}
#displayImage{
    width: 55%;
}
#servicesText{
    width: 40%;
    height: 100%;
    font-size: 20px;
    /* border: 1px solid green; */
}
img{
    width: 100%;
}
#mains{
    padding-top: 20px;
    /* background-color: rgba(140, 120, 90, 50%); */
    height: 100%;
}
body{
    background-color: rgba(134, 135, 140, 0.95);

    /* background-color: rgba(0, 0, 0, 0.4); */
}
*{
    font-family: serif;
}
h1{
    margin-top: 0;
    /* border: 1px solid red; */
}
#viewProjects{
    width: 100%;
}
.button{
    padding: 2.5%;
    margin: 2% auto;
    background-color:rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
.button:hover{
    background-color:rgba(255, 255, 255, 0.1);
}
#contactDiv{
    width: 45%;
    margin: auto;
    /* border: 1px solid red; */
    align-items: center;
}
#contactDiv>h3{
    width: fit-content;
    margin: auto;
    font-size: 30px;
    padding-top: 4%;
}
#contactForm *{
    align-items: center;
    display: block;
}

.inputForm {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    padding: 2% 0 2% 2%;
    width: 98%;
    margin: 2% auto;
    font-size: 15px;
    color: white;
    transition: border-bottom-width 0.4s ease, border-bottom-color 0.4s ease;
}

.inputForm:hover {
    border-bottom-color: rgba(255, 255, 255, 0.9); 
}


#message{
    padding-bottom: 0;
}
::placeholder{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0;
}
#message::placeholder{
    align-self: bottom;
    text-align: bottom;
}
#submitBtn{
    margin-top: 5%;
    margin-bottom: 10%;
    width: 30%;
    background-color: none;
}