@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* Example usage */
body {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
}
p,span,div,h1,h2,h3,h5,h5,a{
    color: gray; 
    font-family: 'EB Garamond';
    font-weight: 400;
}

#servicesDiv{
    display: flex;
    margin: auto;
    align-items: center;
    padding: 5%;
    gap: 5%;
    width: 80%;
    /* border: 1px solid red; */
}
#final {
    margin: auto;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    
}
#displayImage{
    width: 55%;
}
#servicesText{
    width: 40%;
    height: 100%;
    font-size: 20px;
    /* border: 1px solid green; */
}
img{
    width: 100%;
}
#mains{
    padding-top: 20px;
    /* background-color: rgba(140, 120, 90, 50%); */
    height: 100%;
}
body{
    /* background-color: rgba(134, 135, 140, 0.95); */
    background-color: rgba(228,224,219);
    font-weight: 400;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

h1{
    margin-top: 0;
    /* border: 1px solid red; */
}
#viewProjects{
    width: 100%;
}
.button{
    padding: 2.5%;
    margin: 2% auto;
    background-color:rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
.button:hover{
    background-color:rgba(255, 255, 255, 0.1);
}
#contactDiv{
    width: 45%;
    margin: auto;
    /* border: 1px solid red; */
    align-items: center;
    color: gray; 
}
#contactDiv>h3{
    width: fit-content;
    margin: auto;
    font-size: 30px;
    padding-top: 4%;
    color: rgb(70, 70, 70);
}
#contactForm *{
    align-items: center;
    display: block;
}

.inputForm {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 2% 0 2% 2%;
    width: 98%;
    margin: 2% auto;
    font-size: 15px;
    color: rgb(70, 70, 70);
    transition: border-bottom-width 0.4s ease, border-bottom-color 0.4s ease;
}

.inputForm:hover {
    border-bottom-color: rgb(70, 70, 70); 
}


#message{
    padding-bottom: 0;
}
::placeholder{
    color: grey;
    margin-bottom: 0;
    font-family: 'EB Garamont';
}
#message::placeholder{
    align-self: bottom;
    text-align: bottom;
}
#submitBtn{
    margin-top: 5%;
    margin-bottom: 10%;
    width: 30%;
}
@media only screen and (max-width: 660px) {
    #servicesDiv * {display:block;}
}