*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    width: 100%;
}
header{
    /* border: 1px solid red; */
    display: flex;
    /* border-bottom: 2px solid white; */
    padding: 20px;
    /* background-color:floralwhite; */
}
ul{
    /* border: 1px solid red; */
    display: flex;
    list-style: none;
    width: fit-content;
    margin: auto;
    margin-right: 0;
}
li {
    /* border: 1px solid yellow; */
    padding: 30px;
}

a{
    text-decoration: none;
    /* border: 1px solid green; */
    color:white;
}


#fon{
    background-size: cover;
    height: 800px;
}

.head{
    /* border: 1px solid green; */
    text-align: center;
    height: fit-content;
    margin: auto;
    margin-left: 40px;
    /* color: white; */
    font-size: 45px;
    font-weight: lighter;
    display: flex;
}

#melie{
    height: fit-content;
    margin: auto;
    /* color: rgb(127, 92,55); */
    color: white;
    font-weight: normal;
    font-family: 'Kalnia';
}

#logo img{
    padding: 10px;
    width: 70px;
}
#main{
    /* background-image: url(8.jpg); */
    /* height: 100%; */
    /* border: 1px solid red; */
    background-size: cover;
    background-position: bottom;
    transition: background-image 1.5s ease-in-out;
}

#blur{
    display: flex;
    background-color:rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    width: 90%;
    margin: auto;
}

/* Styling the indicators */
#indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicator {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Change to cylinder when selected */
.indicator.active {
    width: 30px;
    border-radius: 25px;
    background-color: white;
}
